<article class="content-container class-definition">
    <header class="section-header">
        <h2 class="page-title"><?js= obj.heading ?></h2>
        <?js if (obj.classdesc) { ?><div class="class-description"><?js= obj.classdesc ?></div><?js } ?>
        <?js if (obj.summary) { ?><div class="class-summary"><?js= obj.summary ?></div><?js } ?>
    </header>
    <section class="class-usage container-overview">
        <?js if (obj.hideconstructor) { ?>
            <h3 class="hidden">Usage</h3>
        <?js } else if ((obj.kind === "class" && obj.classdesc) || obj.signature) {?>
            <h3 class="subsection-title">Usage</h3>
        <?js } ?>
        <?js if (obj.description) { ?><div class="description"><?js= obj.description ?></div><?js } ?>
        <?js if (obj.kind !== "namespace" || obj.signature) { ?>
            <div class="class-signature">
                <pre class="signature name">
                    <code>
                        <?js= obj.attribs + (obj.kind === "class" ? "new " : "")
                        + `${obj.memberof ? `<span class="ancestors">${obj.memberof}.</span>` : ""}${obj.name}`
                        + (obj.signature || "") ?>
                    </code>
                </pre>
            </div>
        <?js } ?>
    </section>
    
    <?js= this.partial("partials/details.tmpl", obj) ?>
    <?js= this.partial("tags/params.tmpl", obj) ?>
    <?js= this.partial("tags/modifies.tmpl", obj) ?>
    <?js= this.partial("tags/examples.tmpl", obj) ?>
    
    <?js= this.partial("partials/section.tmpl", {title: "Classes", classes: "child-classes", items: obj?.doclets?.class}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Interfaces", classes: "child-interfaces", items: obj?.doclets?.interface}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Mixins", classes: "child-mixins", items: obj?.doclets?.mixin}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Namespaces", classes: "child-namespaces", items: obj?.doclets?.namespace}) ?>
    
    <?js= this.partial("partials/section.tmpl", {
        title: "Members", classes: "child-members", items: obj?.doclets?.member,
        forEach: (item) => this.partial("partials/members.tmpl", item)
    }) ?>
    
    <?js= this.partial("partials/section.tmpl", {
        title: "Methods", classes: "child-methods", items: obj?.doclets?.function,
        forEach: (item) => this.partial("partials/method.tmpl", item)
    }) ?>
    
    <?js= this.partial("partials/section.tmpl", {
        title: "Type Definitions", classes: "child-typedefs", items: obj?.doclets?.typedef,
        forEach: (item) => this.partial(`partials/${item.signature ? "method" : "members"}.tmpl`, item)
    }) ?>
    
    <?js= this.partial("partials/section.tmpl", {
        title: "Events", classes: "child-events", items: obj?.doclets?.event,
        forEach: (item) => this.partial("partials/method.tmpl", item)
    }) ?>
</article>