<article class="content-container main-page">
    <header class="section-header">
        <h2 class="page-title"><?js= obj.heading ?></h2>
    </header>
    <?js if (obj?.doclets?.readme) { ?>
        <?js obj.doclets.readme.forEach((obj) => { ?><section class="readme description"><?js= obj.readme ?></section><?js }); ?>
    <?js } ?>
</article>