<?js if (obj.kind === "package") { ?>
    <h3><?js= obj.name ?> <?js= obj.version ?></h3>
<?js } ?>
<?js if (obj.readme) { ?>
    <section>
        <article><?js= obj.readme ?></article>
    </section>
<?js } ?>