<?js if (obj?.doclets?.readme) { ?>
    <section class="main-page">
        <?js obj.doclets.readme.forEach((obj) => { ?><article class="readme"><?js= obj.readme ?></article><?js }); ?>
    </section>
<?js } ?>