<?js var isGlobalPage = (obj.kind === "globalobj"); ?>
<article class="content-container">
    <header class="section-header">
        <h2 class="page-title"><?js= obj.heading ?></h2>
    </header>
    <section>
        <div class="container-overview">
            <?js if (obj.kind === "module" && obj.modules) { ?>
                <?js if (obj.description) { ?><div class="overview-description"><?js= obj.description ?></div><?js } ?>
                <?js obj.modules.forEach((module) => { ?><?js= this.partial("partials/method.tmpl", module) ?><?js }) ?>
            <?js } else if (!["class", "namespace"].includes(obj.kind)) { ?>
                <?js if (obj.description) { ?><div class="overview-description"><?js= obj.description ?></div><?js } ?>
                <?js= this.partial("partials/details.tmpl", obj) ?>
            <?js } ?>
        </div>
    </section>

    <?js= this.partial("partials/section.tmpl", {title: "Requires", classes: "child-requires", items: obj?.requires}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Classes", classes: "child-classes", items: !isGlobalPage && obj?.doclets?.class}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Interfaces", classes: "child-interfaces", items: !isGlobalPage && obj?.doclets?.interface}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Mixins", classes: "child-mixins", items: !isGlobalPage && obj?.doclets?.mixin}) ?>
    <?js= this.partial("partials/section.tmpl", {title: "Namespaces", classes: "child-namespaces", items: !isGlobalPage && obj?.doclets?.namespace}) ?>
</article>