<article class="content-container">
    <header class="section-header">
        <h2 class="page-title"><?js= obj.heading ?></h2>
    </header>
    <section id="source">
        <pre class="prettyprint source linenums"><code><?js= obj.code ?></code></pre>
    </section>
</article>