<article class="content-container tutorial">
    <header class="section-header">
        <h2 class="page-title subsection-title"><?js= obj.heading ?></h2>
    </header>
    <div class="description"><?js= obj.description ?></div>
    <section id="related" class="class-summary description">
        <blockquote>
            <strong>Related Tutorials:</strong>
            <ul>
                <?js if (!obj?.parent?.name && !obj?.children?.length) { ?>
                    <li><em>None</em></li>
                <?js } else {?>
                    <?js= (!!obj?.parent?.name ? `<li>${this.linkTutorial(obj?.parent?.name)}</li>` : "") ?>
                    <?js obj?.children?.forEach((t) => { ?><li><?js= this.linkTutorial(t.name) ?></li><?js }); ?>
                <?js } ?>
            </ul>
        </blockquote>
    </section>
</article>