<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?js= this.packageData?.name || "JSDoc"?>: <?js= title ?></title>
    <script src="static/scripts/tiny-page-nav.js"></script>
    <script src="static/scripts/prettify/prettify.js"></script>
    <script src="static/scripts/prettify/lang-css.js"></script>
    <link type="text/css" rel="stylesheet" href="static/styles/tiny-page-nav.css">
    <link type="text/css" rel="stylesheet" href="static/styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="static/styles/jsdoc-default.css">
</head>

<body>
    <header class="page-header">
        <?js if (!!this.packageData?.name) { ?>
            <h1 class="package-details">
                <a class="package-name" href="index.html">
                    <?js if (this.packageData?.logo) { ?><img alt="<?js= this.packageData?.name ?? "JSDoc"?>" src="<?js= this.packageData.logo ?>" /><?js } ?>
                    <?js if (this.packageData?.showName !== false) { ?><span><?js= this.packageData.name ?></span><?js } ?>
                </a>
                <span class="package-version type-signature"><?js= this.packageData.version ?></span>
            </h1>
        <?js } else { ?>
            <h2 class="package-details"><a href="index.html">Home</a></h2>
        <?js } ?>
        <h2 class="page-title"><?js= heading ?></h2>
        <div class="page-links">
            <?js if (!!this.sourceFiles?.link && this.packageData?.showGitLink !== false) { ?>
                <a href="<?js= this.sourceFiles?.link ?>" title="View Source<?js= this.sourceFiles?.link ? ` on ${this.sourceFiles.name}` : ""?>">
                    <img alt="View Source<?js= this.sourceFiles?.link ? ` on ${this.sourceFiles.name}` : ""?>" src="static/assets/<?js= this.sourceFiles?.image ?>" />
                </a>
            <?js } ?>
            <div class="page-nav-toggle tiny-page-nav-toggle">
                <input type="checkbox" name="tiny-page-nav-toggle" id="tiny-page-nav-toggle"/>
                <label for="tiny-page-nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </div>
    </header>
    <nav class="page-nav">
        <label class="hidden" for="tiny-page-nav"></label>
        <input class="hidden tiny-page-nav-target" type="checkbox" id="tiny-page-nav"/>
        <div class="nav-content">
            <?js= obj.nav(this.boilerplateNav) ?>
        </div>
    </nav>
    <main id="main">
        <?js= content ?>
        <footer>
            Generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a>
            <?js if (env?.conf?.templates?.default?.includeDate !== false) { ?> - <?js= (new Date().toISOString()) ?><?js } ?>
        </footer>
    </main>
    <script>prettyPrint();</script>
    <script src="static/scripts/linenumber.js"></script>
</body>

</html>
