<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?js= (obj.kind === "mainpage" && obj.doctitle !== "Home" ? "" : `${this.templateConfig.classy?.name || "JSDoc"}: `) ?><?js= obj.doctitle ?></title>
    <script src="static/classy.js"></script>
    <script src="static/highlight/highlight.min.js"></script>
    <script src="static/highlight/langs/javascript.min.js"></script>
    <script src="static/highlight/langs/json.min.js"></script>
    <link type="text/css" rel="stylesheet" href="static/highlight/highlight.min.css">
    <link type="text/css" rel="stylesheet" href="static/classy.css">
</head>

<body>
    <header class="page-header">
        <h1 class="package-details">
            <a class="package-name" href="./">
                <?js if (this.templateConfig.classy?.logo) { ?><img alt="<?js= this.templateConfig.classy?.name ?>" src="static/assets/logo.<?js= this.templateConfig.classy?.logo?.split?.(".")?.pop?.() ?? "png" ?>" /><?js } ?>
                <?js if (this.templateConfig.classy?.showName || !this.templateConfig.classy?.logo) { ?><span><?js= this.templateConfig.classy.name ?></span><?js } ?>
            </a>
            <?js if (!!this.packageData?.version && this.templateConfig.classy?.showVersion) { ?>
                <span class="package-version">
                    <span class="type-signature"><?js= this.packageData.version ?></span>
                </span>
            <?js } ?>
        </h1>
        <h2 class="page-title"><?js= obj.heading ?></h2>
        <div class="page-links">
            <?js if (!!this.sourceFiles?.link && this.templateConfig.classy?.showGitLink) { ?>
                <a href="<?js= this.sourceFiles?.link ?>" title="View Source<?js= this.sourceFiles?.link ? ` on ${this.sourceFiles.name}` : ""?>">
                    <img alt="View Source<?js= this.sourceFiles?.link ? ` on ${this.sourceFiles.name}` : ""?>" src="static/assets/<?js= this.sourceFiles?.image ?>" />
                </a>
            <?js } ?>
            <div class="page-nav-toggle tiny-page-nav-toggle">
                <input type="checkbox" name="tiny-page-nav-toggle" id="tiny-page-nav-toggle" autocomplete="off"/>
                <label for="tiny-page-nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </div>
    </header>
    <nav class="page-nav">
        <label class="hidden" for="tiny-page-nav"></label>
        <input class="hidden tiny-page-nav-target" type="checkbox" id="tiny-page-nav" autocomplete="off"/>
        <div class="nav-content">
            <?js= obj.nav(this.boilerplateNav) ?>
        </div>
    </nav>
    <main id="main">
        <?js= content ?>
        <footer>
            Generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a>
            using <a href="https://github.com/sleelin/classy-template">classy-template</a>
            <?js if (this.templateConfig?.default?.includeDate) { ?>
                <span class="creation-timestamp"><?js= (new Date().toISOString()) ?></span>
            <?js } ?>
        </footer>
    </main>
    <script>hljs.highlightAll();</script>
</body>

</html>
