<?js var self = this; ?>
<h4 class="name" id="<?js= id ?>">
    <?js= obj.attribs ?><span><?js= name ?></span><?js= (obj.signature || "") ?>
</h4>

<?js if (obj.summary) { ?><p class="summary"><?js= summary ?></p><?js } ?>
<?js if (obj.description) { ?><div class="description"><?js= obj.description ?></div><?js } ?>

<?js if (obj.type && obj.type.names) { ?>
    <h5>Type:</h5>
    <ul>
        <li><?js= self.partial("tags/type.tmpl", obj.type.names) ?></li>
    </ul>
<?js } ?>

<?js= this.partial("details.tmpl", obj) ?>

<?js if (obj.fires && fires.length) { ?>
    <h5>Fires:</h5>
    <ul>
        <?js fires.forEach(function(f) { ?><li><?js= self.linkto(f) ?></li><?js }); ?>
    </ul>
<?js } ?>
<?js if (obj.examples && examples.length) { ?>
    <h5>Example<?js= examples.length > 1 ? "s" : "" ?></h5>
    <?js= this.partial("examples.tmpl", examples) ?>
<?js } ?>
