<h4 class="name" id="<?js= id ?>">
    <?js= obj.attribs ?><span><?js= name ?></span><?js= (obj.signature || "") ?>
</h4>

<?js if (obj.summary) { ?><p class="summary"><?js= obj.summary ?></p><?js } ?>
<?js if (obj.description) { ?><div class="description"><?js= obj.description ?></div><?js } ?>

<?js if (obj.type && obj.type.names) { ?>
    <h5>Type:</h5>
    <ul>
        <li><?js= this.partial("tags/type.tmpl", obj.type.names) ?></li>
    </ul>
<?js } ?>

<?js= this.partial("partials/details.tmpl", obj) ?>

<?js if (obj?.fires?.length) { ?>
    <h5>Fires:</h5>
    <ul>
        <?js obj.fires.forEach((f) => { ?><li><?js= this.linkto(f) ?></li><?js }); ?>
    </ul>
<?js } ?>

<?js if (obj?.examples?.length) { ?>
    <h5>Example<?js= obj.examples.length > 1 ? "s" : "" ?></h5>
    <?js= this.partial("examples.tmpl", obj.examples) ?>
<?js } ?>
