<?js if (obj.properties && properties.length && properties.forEach && !obj.hideconstructor) { ?>
    <section class="props">
        <h5 class="subsection-title">Properties:</h5>
        <?js= this.partial("partials/typedef.tmpl", {items: obj.properties, isEnum: obj.isEnum}) ?>
    </section>
<?js } ?>