<section class="details">
    <dl class="details-list">
        <?js= this.partial("tags/deprecated.tmpl", obj) ?>
        <?js= this.partial("tags/version.tmpl", obj) ?>
        <?js= this.partial("tags/since.tmpl", obj) ?>
        <?js= this.partial("tags/author.tmpl", obj) ?>
        <?js= this.partial("tags/copyright.tmpl", obj) ?>
        <?js= this.partial("tags/license.tmpl", obj) ?>
        <?js= this.partial("tags/tutorial.tmpl", obj) ?>
        <?js= this.partial("tags/see.tmpl", obj) ?>
        <?js= this.partial("tags/todo.tmpl", obj) ?>
        <?js= this.partial("tags/type.tmpl", obj) ?>
        <?js= this.partial("tags/this.tmpl", obj) ?>
        <?js= this.partial("tags/inheritance.tmpl", obj) ?>
        <?js= this.partial("tags/augments.tmpl", obj) ?>
        <?js= this.partial("tags/overrides.tmpl", obj) ?>
        <?js= this.partial("tags/implementations.tmpl", obj) ?>
        <?js= this.partial("tags/implements.tmpl", obj) ?>
        <?js= this.partial("tags/requires.tmpl", obj) ?>
        <?js= this.partial("tags/mixes.tmpl", obj) ?>
        <?js= this.partial("tags/source.tmpl", obj) ?>
        <?js= this.partial("tags/default.tmpl", obj) ?>
        <?js= this.partial("tags/fires.tmpl", obj) ?>
        <?js= this.partial("tags/throws.tmpl", obj) ?>
        <?js= this.partial("tags/listens.tmpl", obj) ?>
        <?js= this.partial("tags/listeners.tmpl", obj) ?>
    </dl>
</section>
<?js= this.partial("tags/properties.tmpl", obj) ?>