<article id="<?js= obj.id ?>">
    <header>
        <h4 class="name"><?js= obj.attribs + obj.name + (obj.signature || "") ?></h4>
        <?js if (obj.summary) { ?><div class="summary"><?js= obj.summary ?></div><?js } ?>
        <?js if (obj.description) { ?><div class="description"><?js= obj.description ?></div><?js } ?>
    </header>
    
    <?js= this.partial("partials/details.tmpl", obj) ?>
    <?js= this.partial("tags/modifies.tmpl", obj) ?>
    <?js= this.partial("tags/returns.tmpl", {title: "Returns:", items: obj.returns}) ?>
    <?js= this.partial("tags/returns.tmpl", {title: "Yields:", items: obj.yields}) ?>
    <?js= this.partial("tags/examples.tmpl", obj) ?>
</article>