<article>
    <header>
        <?js if (obj.kind !== "module" && !obj.hideconstructor) { ?>
            <?js if (obj.kind === "class" && obj.classdesc) { ?><h2>Constructor</h2><?js } ?>
            <?js if (obj.kind !== "namespace") { ?>
                <h4 class="name" id="<?js= obj.id ?>"><?js= obj.attribs + (obj.kind === "class" ? "new " : "") + obj.name + (obj.signature || "") ?></h4>
            <?js } ?>
            <?js if (obj.summary) { ?><p class="summary"><?js= obj.summary ?></p><?js } ?>
        <?js } ?>

        <?js if (obj.kind !== "module" && obj.description && !obj.hideconstructor) { ?>
            <div class="description"><?js= obj.description ?></div>
        <?js } ?>
    </header>

    <?js= this.partial("partials/details.tmpl", obj) ?>
    <?js= this.partial("tags/params.tmpl", obj) ?>
    <?js= this.partial("tags/modifies.tmpl", obj) ?>
    <?js= this.partial("tags/returns.tmpl", {title: "Returns:", items: obj.returns}) ?>
    <?js= this.partial("tags/returns.tmpl", {title: "Yields:", items: obj.yields}) ?>
    <?js= this.partial("tags/examples.tmpl", obj) ?>
</article>