<?js if (obj?.items?.length && obj?.title) { ?>
    <section <?js= (obj?.id ? `id="${obj.id}"` : "") ?> class="<?js= [...(obj?.id ? [`child-${obj.id}`] : []), 
        ...(Array.isArray(obj.classes) ? obj.classes : (obj.classes ? [obj.classes] : []))].join(" ") ?>">
        <h3 class="subsection-title"><?js= obj.title ?></h3>
        <?js if (obj.forEach && typeof obj.forEach === "function") { ?>
            <div class="subsection-content">
                <?js obj.items.forEach((item) => { ?><?js= obj.forEach(item) ?><?js }); ?>
            </div>
        <?js } else { ?>
            <ul class="subsection-list">
                <?js obj.items.forEach((item) => { ?>
                    <li>
                        <div class="name">
                            <code><?js= this.linkto(item.longname, item.longname) ?></code>
                        </div>
                        <?js if (item.summary) { ?><?js= this.summarise(item) ?><?js } ?>
                    </li>
                <?js }); ?>
            </ul>
        <?js } ?>
    </section>
<?js } ?>