<?js var self = this; ?>
<?js if (obj.augments && obj.augments.length) { ?>
    <ul>
        <?js obj.augments.forEach(function(a) { ?><li><?js= self.linkto(a, a) ?></li><?js }) ?>
    </ul>
<?js } ?>