<?js var beautify = ["object", "array"].includes(obj.defaultvaluetype); ?>
<?js= this.partial("partials/definition.tmpl", {
    title: "Default Value:", tag: "default", items: !obj.isEnum && obj.defaultvalue,
    linktoFn: () => (beautify ? `<pre class="prettyprint"><code>${obj.defaultvalue}</code></pre>` : obj.defaultvalue)
}) ?>