<?js= this.partial("partials/definition.tmpl", {
    title: "Deprecated:", tag: "deprecated", classes: "important", items: obj.deprecated, linktoFn: () => (obj.deprecated === true ? "Yes" : obj.deprecated)
}) ?>