<?js if (obj?.examples?.length) { ?>
    <h5>Example<?js= obj.examples.length > 1 ? "s" : "" ?></h5>
    <?js obj.examples.forEach((example) => { ?>
        <?js if (example.caption) { ?><p class="code-caption"><?js= example.caption ?></p><?js } ?>
        <pre class="prettyprint"><code><?js= this.htmlsafe(example.code) ?></code></pre>
    <?js }); ?>
<?js } ?>