<?js if (obj?.params?.length && !obj.hideconstructor) { ?>
    <section class="params">
        <h5 class="subsection-title">Parameters:</h5>
        <?js= this.partial("partials/typedef.tmpl", {items: obj.params || []}) ?>
    </section>
<?js } ?>