<?js= this.partial("partials/definition.tmpl", {
    title: "Properties:", classes: "props", items: obj?.properties?.length && !obj.hideconstructor && [obj.properties],
    linktoFn: () => this.partial("partials/typedef.tmpl", {memberof: obj.memberof, items: obj.properties, isEnum: obj.isEnum})
}) ?>