<?js if (obj?.see?.length) { ?>
    <dt class="tag-see">See:</dt>
    <dd class="tag-see">
            <ul>
                <?js obj.see.forEach((s) => { ?><li><?js= this.linkto(s) ?></li><?js }); ?>
            </ul>
        </dd>
<?js } ?>