<?js= this.partial("partials/definition.tmpl", {
    title: "Source:", tag: "source", items: obj.meta && this.sourceFiles.output,
    linktoFn: () => this.linkto(obj.meta.shortpath, `${obj.meta.shortpath}, line ${obj.meta.lineno}`, null, this.sourceFiles.line + obj.meta.lineno)
}) ?>